/Practicas/Practicas/nbproject/private/
/Practicas/Practicas/build/
/Practicas/Pilas/nbproject/private/
/Practicas/Pilas/build/
/Practicas/Relaciones/nbproject/private/
/Practicas/Relaciones/build/
/Practicas/TPVideojuegos/nbproject/private/
/Practicas/TPVideojuegos/build/
/Practicas/Conversiones/nbproject/private/
/Practicas/Conversiones/build/
/Practicas/TPEjercicioPOO/nbproject/private/
/Practicas/TPEjercicioPOO/build/
/Practicas/JPAPruebas/target/
